@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap");
* {
  box-sizing: border-box;
}

.dropPerfil {
  background-color: #212529;
  border: none;
}

.dropPerfilUl, .dropdown-menu {
  background-color: #212529;
}
.dropPerfilUl .drops, .dropPerfilUl .dropdown-item, .dropdown-menu .drops, .dropdown-menu .dropdown-item {
  color: white;
}
.dropPerfilUl .drops:hover, .dropPerfilUl .dropdown-item:hover, .dropdown-menu .drops:hover, .dropdown-menu .dropdown-item:hover {
  background-color: white;
  color: crimson;
}

.nav-link {
  color: white;
}
.nav-link:hover {
  color: crimson;
}

.nav-item:active {
  color: crimson;
}

.carrito {
  background-color: #212529;
  color: white;
}
.carrito:hover {
  color: crimson;
}

.cabecera {
  background-image: url(/img/herobannertexto.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 400px;
  width: 100%;
  position: relative;
  margin-bottom: 100px;
}

.backgoundButton {
  position: absolute;
  top: 93%;
  left: 40%;
  background-color: rgb(248, 219, 215);
  height: 70px;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
}

.busqueda {
  height: 45px;
  width: 350px;
  border: none;
  border-radius: 15px;
}

.busqueda::placeholder {
  font-size: 20px;
  text-align: center;
}

.text-center {
  font-size: 30px;
  text-align: center;
}

.introduccion {
  width: 100%;
  margin: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.containerCards {
  width: 99%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 25px 0;
}

.card {
  margin-left: 30px;
  height: 350px;
  width: 235px;
  box-shadow: -1px 8px 19px 0px rgba(0, 0, 0, 0.29);
  -webkit-box-shadow: -1px 8px 19px 0px rgba(0, 0, 0, 0.29);
  -moz-box-shadow: -1px 8px 19px 0px rgba(0, 0, 0, 0.29);
}

.card1 {
  margin-bottom: 25px;
  padding: 10px;
  background-color: white;
  position: relative;
}

.card2 {
  background-color: white;
  width: 98%;
  height: 50px;
  margin-top: -15px;
}

.calification {
  margin-left: 4%;
  font-size: 15px;
  font-weight: 600;
}

.cardImagen {
  height: 220px;
  width: 215px;
}

.pricesHome {
  margin-left: 4%;
  font-size: 20px;
  font-weight: 700;
  margin-top: 5%;
  color: rgb(219, 75, 56);
}

.tituloCard {
  position: absolute;
  left: 6%;
  bottom: 8%;
  color: white;
  font-size: 25px;
}

.container1 {
  margin-top: 100px;
  background: rgb(248, 219, 215);
  background-image: url(/img/fondoHomeGarabatos.png);
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.presents {
  position: relative;
}

.button {
  background-color: rgb(219, 75, 56);
  color: white;
  width: 250px;
  height: 32px;
  border-radius: 15px;
  font-size: 16px;
  margin-top: 50px;
  position: absolute;
  right: 1%;
  border: none;
}

.invite, .presents {
  height: 700px;
  width: 700px;
  margin-top: 25px;
}

.tituloSection {
  font-size: 45px;
  line-height: 47px;
  color: black;
  margin-bottom: 25px;
}

.colorText1 {
  color: rgb(219, 75, 56);
}

.parrafoSection {
  font-size: 20px;
  line-height: 22px;
  margin-bottom: 10px;
}

.tituloSection1 {
  font-size: 35px;
  line-height: 38px;
  margin-bottom: 25px;
}

.marginTopSection {
  margin-top: 50px;
}

.containerPasos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.pasos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.box {
  height: 100px;
  width: 220px;
  background-color: rgb(248, 219, 215);
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: -1px 8px 19px 0px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: -1px 8px 19px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: -1px 8px 19px 0px rgba(0, 0, 0, 0.15);
  margin: 35px;
}

.number {
  font-size: 55px;
  font-weight: 600;
  color: rgb(219, 75, 56);
}

.parrafoSection1 {
  font-size: 20px;
}

.titulosFooter {
  font-size: 20px;
  font-weight: 600;
  margin-left: 10px;
  margin-right: 20px;
  margin-top: 30px;
  margin-bottom: 15px;
}

.titulosFooter:hover {
  color: rgb(219, 75, 56);
}

.listasPeso {
  font-size: 16px;
  font-weight: 400;
  margin-left: 10px;
  margin-right: 20px;
}

.containerFooter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(248, 219, 215);
}

.imagenFooter {
  margin-top: 25px;
  margin-bottom: 10px;
}

.copyright {
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 15px;
}

a {
  text-decoration: none;
  color: black;
}

.imagenSize {
  width: auto;
  height: 350px;
}

.tituloSection2 {
  font-size: 45px;
  margin-top: 35px;
  margin-bottom: 15px;
}

.imagenContainer {
  display: flex;
  flex-direction: row;
}

.saludoHome {
  font-size: 36px;
}

@media (max-width: 420px) {
  .cabecera {
    height: 150px;
    margin-bottom: 100px;
  }
  .backgoundButton {
    left: 10%;
    height: 60px;
    width: 300px;
  }
  .busqueda {
    height: 35px;
    width: 250px;
  }
  .busqueda::placeholder {
    font-size: 20px;
    text-align: center;
  }
  .text-center {
    font-size: 20px;
    text-align: center;
  }
  .containerCards {
    flex-direction: column;
    align-items: center;
  }
  .card {
    margin-left: 30px;
    margin-bottom: 15px;
    height: 350px;
    width: 255px;
    box-shadow: -1px 8px 19px 0px rgba(0, 0, 0, 0.29);
    -webkit-box-shadow: -1px 8px 19px 0px rgba(0, 0, 0, 0.29);
    -moz-box-shadow: -1px 8px 19px 0px rgba(0, 0, 0, 0.29);
  }
  .cardImagen {
    height: 220px;
    width: 235px;
  }
  .container1 {
    margin-top: 80px;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .presents {
    position: relative;
  }
  .button {
    left: 16%;
  }
  .invite, .presents {
    height: 700px;
    width: 100%;
    margin-top: 25px;
  }
  .tituloSection {
    font-size: 32px;
    line-height: 47px;
    color: black;
    margin-bottom: 15px;
    margin-left: 15px;
  }
  .colorText1 {
    color: rgb(219, 75, 56);
  }
  .parrafoSection {
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    margin-bottom: 15px;
    padding: 10px;
  }
  .tituloSection1 {
    font-size: 24px;
    line-height: 38px;
    margin-bottom: 15px;
    margin-left: 5px;
    text-align: center;
  }
  .marginTopSection {
    margin-top: 30px;
  }
  .containerPasos {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .pasos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  .box {
    height: 100px;
    width: 100px;
    margin: 35px 0;
  }
  .box1, .box3 {
    margin-left: -5px;
  }
  .box2 {
    margin-left: 50px;
  }
  .number {
    font-size: 45px;
    font-weight: 800;
    color: rgb(219, 75, 56);
  }
  .parrafoSection1 {
    font-size: 16px;
    text-align: center;
    width: 50%;
  }
  .titleSteps {
    font-size: 24px;
  }
  .containerMobile {
    display: flex;
    flex-direction: column-reverse;
    height: 500px;
  }
  .footerMobile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
  }
  .titulosFooter {
    font-size: 12px;
    font-weight: 600;
    margin: 0px 10px 10px 20px;
  }
  .quienesSomos {
    width: 150px;
  }
  .titulosFooter:hover {
    color: rgb(219, 75, 56);
  }
  .listasPeso {
    font-size: 9px;
    font-weight: 400;
    margin: 0px 10px 0px 20px;
  }
  a {
    text-decoration: none;
    color: black;
  }
  .imagenSize {
    width: 50%;
    height: max-content;
  }
  .tituloSection2 {
    font-size: 32px;
    margin-top: 35px;
    margin-bottom: 15px;
    text-align: center;
  }
  .imagenContainer {
    display: flex;
    flex-direction: row;
  }
  .saludoHome {
    font-size: 24px;
    width: 80%;
    margin-left: -45px;
  }
  .navbar-toggler-icon {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: white;
    filter: invert(1);
  }
}
@media (max-width: 780px) {
  .cabecera {
    height: 150px;
    margin-bottom: 100px;
  }
  .backgoundButton {
    left: 30%;
    height: 60px;
    width: 300px;
  }
  .busqueda {
    height: 35px;
    width: 250px;
  }
  .busqueda::placeholder {
    font-size: 20px;
    text-align: center;
  }
  .text-center {
    font-size: 20px;
    text-align: center;
  }
  .containerCards {
    flex-direction: row;
    align-items: center;
    margin-left: -10px;
  }
  .cardImagen {
    height: 220px;
    width: 195px;
  }
  .container1 {
    margin-top: 80px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .button {
    left: 36%;
  }
  .tituloSection {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    margin-left: 15px;
  }
  .parrafoSection {
    margin-left: 32px;
    text-align: center;
    width: 90%;
  }
  .tituloSection1 {
    font-size: 28px;
    line-height: 38px;
    margin: 10px 0 10px 15px;
    text-align: center;
  }
  .marginTopSection {
    margin-top: 30px;
  }
  .containerPasos {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .pasos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  .box {
    height: 100px;
    width: 100px;
    margin: 35px 0;
  }
  .box1, .box3 {
    margin-left: -5px;
  }
  .box2 {
    margin-left: 170px;
  }
  .number {
    font-size: 45px;
    font-weight: 800;
    color: rgb(219, 75, 56);
  }
  .parrafoSection1 {
    font-size: 24px;
    text-align: center;
    width: 50%;
  }
  .titleSteps {
    font-size: 32px;
    margin-top: 55px;
    font-weight: 700;
  }
  .containerMobile {
    display: flex;
    flex-direction: column-reverse;
    height: 500px;
  }
  .footerMobile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    width: 100%;
  }
  .titulosFooter {
    font-size: 16px;
    font-weight: 600;
    margin: 10px 10px 10px 20px;
  }
  .quienesSomos {
    width: 150px;
  }
  .titulosFooter:hover {
    color: rgb(219, 75, 56);
  }
  .listasPeso {
    font-size: 12px;
    font-weight: 400;
    margin: 0px 10px 0px 20px;
  }
  a {
    text-decoration: none;
    color: black;
  }
  .imagenSize {
    width: 50%;
    height: max-content;
  }
  .tituloSection2 {
    font-size: 32px;
    font-weight: 700;
    margin-top: 35px;
    margin-bottom: 15px;
    text-align: center;
  }
  .imagenContainer {
    display: flex;
    flex-direction: row;
  }
  .saludoHome {
    font-size: 24px;
    width: 80%;
    margin-left: -45px;
  }
  .navbar-toggler-icon {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: white;
    filter: invert(1);
  }
}
.containerQS {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  column-gap: 55px;
}
.containerQS img {
  width: 100%;
}
.containerQS p {
  font-size: 24px;
  width: 90%;
  margin-left: 30px;
  margin-top: 35px;
}
.containerQS h1 {
  font-size: 36px;
  margin-left: 30px;
  margin-top: 35px;
  animation: titulo 2.5s infinite;
}

@keyframes titulo {
  0% {
    color: crimson;
  }
  25% {
    color: red;
  }
  50% {
    color: #4d1919;
  }
  75% {
    color: rgb(160, 41, 11);
  }
  100% {
    color: crimson;
  }
}

/*# sourceMappingURL=main.css.map */
