// Cabeceras

.cabecera {
    background-image: url(/img/herobannertexto.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px;
    width: 100%;
    position: relative;
    margin-bottom: 100px;
}

.backgoundButton {
    position: absolute;
    top: 93%;
    left: 40%;
    background-color: rgba(248, 219, 215, 1);
    height: 70px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}
.busqueda {
    height: 45px;
    width: 350px;
    border: none;
    border-radius: 15px;
}
.busqueda::placeholder {
    font-size: 20px;
    text-align: center;
}

// TextCenter

.text-center {
    font-size: $textXL;
    text-align: center;
}


// Cards

.introduccion{
    width: 100%;
    margin: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    
}

.containerCards{
    width: 99%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 25px 0;
}

.card {
    margin-left: 30px;
    height: 350px;
    width: 235px;
    box-shadow: -1px 8px 19px 0px rgba(0,0,0,0.29);
    -webkit-box-shadow: -1px 8px 19px 0px rgba(0,0,0,0.29);
    -moz-box-shadow: -1px 8px 19px 0px rgba(0,0,0,0.29);
}

.card1 {
    margin-bottom: 25px;
    padding: 10px;
    background-color: white;
    position: relative;
}
.card2 {
    background-color: white;
    width: 98%;
    height: 50px;
    margin-top: -15px;
}

.calification {
    margin-left: 4%;
    font-size: 15px;
    font-weight: 600;
}

.cardImagen {
    height: 220px;
    width: 215px;
}
.pricesHome {
    margin-left: 4%;
    font-size: 20px;
    font-weight: 700;
    margin-top: 5%;
    color: rgb(219, 75, 56);
}
.tituloCard {
    position: absolute;
    left: 6%;
    bottom: 8%;
    color: white;
    font-size: 25px;
}