// Cabeceras

.cabecera {
    background-image: url(/img/herobannertexto.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px;
    width: 100%;
    position: relative;
}

.backgoundButton {
    position: absolute;
    top: 93%;
    left: 40%;
    background-color: rgba(248, 219, 215, 1);
    height: 70px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}
.busqueda {
    height: 45px;
    width: 350px;
    border: none;
    border-radius: 15px;
}
.busqueda::placeholder {
    font-size: 20px;
    text-align: center;
}
