.containerSurpriser {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    background-image: url(../img/surpriserHead.png);
    background-repeat: no-repeat;
    background-size: cover;
    align-content: space-between;
}
.tituloSurpriser {
    font-size: 45px;
    color: white;
    padding: 35px;
}
.parrafoSurpriser {
    font-size: 20px;
    line-height: 22px;
    color: white;
    padding: 35px;
}
.containerForm {
    height: 350px;
    width: 500px;
    background-color: rgba(248, 219, 215, 1);
    border-radius: 15px;
    display: flex;
    padding: 25px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 35px;
}
.placeholderSurpriser {
    font-size: 10px;
    border-radius: 15px;
    width: 450px;
    height: 42px;
    margin-bottom: 15px;
    border: none;

}
.buttonSupriser {
    background-color:  rgb(219, 75, 56);
    color: white;
    width: 250px;
    height: 32px;
    border-radius: 15px;
    font-size: 16px;
    margin-top: 50px;
    border: none;
}
