// Colores

$mainColor: crimson;
$secundaryColor: rgba(248, 219, 215, 1);
$colorNavBlack: #212529;
$colorBlack: black;

// Fonts

$mainFont: "Poppins",sans-serif;


// Sizes

$textXS: 10px;
$textS: 12px;
$textM: 16px;
$textL:20px;
$textXL: 24px;

